@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
}

.container-page {
  display: flex;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
    border-right: black 1.5px solid;
    background-color: #b872f4;
    opacity: 0.9;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar .profile {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.sidebar .profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar .menu {
    margin-bottom: 15px;
}

.sidebar .menu ul {
    list-style: none;
    padding: 0;
}

.sidebar .menu ul li {
    text-align: center;
    margin-bottom: 15px;
}

.sidebar .menu ul li img {
    width: 40px;
    height: 40px;
}

.sidebar .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.second-sidebar {
    position: absolute;
    top: 0;
    left: 120px;
    width: 300px;
    height: 100vh;
    background-color: #b872f4;
    opacity: 0.9;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.search-bar {
    padding-top: 40px;
    text-align: center;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.container-wrapper {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 200px;
  display: flex;  
  /* flex-grow: 1; Utilisation de flex-grow pour occuper l'espace restant */
  padding: 20px; /* Ajout de marge pour l'espace autour de container-wrapper */
}

#showFormButton {
  width: 200px;
  height: 30px;
  background-color: #D9D9D9;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #000000;
    position: relative;
}

#squareForm{
  display: none;
}

.square h2 {
  margin: 10px 0 0 10px;
  word-wrap: break-word;
}

.square p {
  margin: 5px 5px 5px 10px;
  word-wrap: break-word;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.draggable {
  position: absolute;
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

.square.categorie1 {
  z-index: 20;
  background: url('images/post-it/blue.png') center center no-repeat;
  background-size: cover;
}

.square.categorie2 {
  z-index: 20;
  background: url('images/post-it/green.png') center center no-repeat;
  background-size: cover;
}

.square.categorie3 {
  z-index: 20;
  background: url('images/post-it/red.png') center center no-repeat;
  background-size: cover;
}

.square.categorie4 {
  z-index: 20;
  background: url('images/post-it/yellow.png') center center no-repeat;
  background-size: cover;
}

.square.categorie5 {
  z-index: 20;
  background: url('images/post-it/purple.png') center center no-repeat;
  background-size: cover;
}

.square.categorie6 {
  z-index: 20;
  background: url('images/post-it/gray.png') center center no-repeat;
  background-size: cover;
}

.square.categorie7 {
  z-index: 20;
  background: url('images/post-it/orange.png') center center no-repeat;
  background-size: cover;
}

.square.categorie8 {
  z-index: 20;
  background: url('images/post-it/pink.png') center center no-repeat;
  background-size: cover;
}

.circle-button {
  width: 50px;
  height: 50px;
  background-color: rgba(205, 52, 219, 0.273);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: 0.2s;
}

.circle-button:hover {
  background-color: #80079897;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

#horloge{
  position: absolute;
  bottom: 30px;
  left: 480px;
  width: 250px;
  height: 100px;
  opacity: 0.9;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 0 10px;
}

.greeting-text{
  left: 420px;
  font-size: 25px;
}

#heure{
  font-size: 100px;
}